- hosts: all
  become: yes
  tasks:
    - name: Prepare Debian and Ubuntu
      include: debian_based.yml
      when: ansible_facts['distribution'] == "Debian" or ansible_facts['distribution'] == "Ubuntu"
    - name: Setup Debian 10
      include: debian_10.yml
      when: ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] == "10"
    - name: Setup Ubuntu 18.04
      include: ubuntu_1804.yml
      when: ansible_facts['distribution'] == "Ubuntu" and ansible_facts['distribution_version'] == "18.04"
    - name: Setup Ubuntu 20.04
      include: ubuntu_2004.yml
      when: ansible_facts['distribution'] == "Ubuntu" and ansible_facts['distribution_version'] == "20.04"
    - name: Setup CentOS
      include: centos.yml
      when: ansible_facts['distribution'] == "CentOS"
    - name: Install IntelMQ packages
      package:
        name: "{{ item }}"
      with_items:
      - intelmq-manager
      - intelmq-api
      - intelmq
    - name: Setup CentOS
      include: centos_postinstall.yml
      when: ansible_facts['distribution'] == "CentOS"
    - name: Delete runtime.yaml
      file:
        path: '/etc/intelmq/runtime.yaml'
        state: absent
    - name: Copy runtime.conf
      copy:
        src: 'assets/runtime.conf'
        dest: '/etc/intelmq/runtime.conf'
        owner: intelmq
        group: intelmq
        mode: '0664'
    - name: Copy pipeline.conf
      copy:
        src: 'assets/pipeline.conf'
        dest: '/etc/intelmq/pipeline.conf'
        owner: intelmq
        group: intelmq
        mode: '0664'
    - name: Run configuration upgrade
      command: intelmqctl upgrade-config -u v300_pipeline_file_removal -f
    - name: Make sure redis is running
      service:
        state: started
        name: "{{redis}}"
    - name: Make sure webserver is running
      service:
        state: started
        name: "{{webserver}}"

    - name: Run tasks
      include: "tasks.yml"
